<header>
  <figure>
    <a href="/"><img src="../assets/logo.svg" alt="logo" /></a>
  </figure>
</header>
<aside>
  <app-theme-button></app-theme-button>
  <app-site-progress></app-site-progress>
  <app-scroll-top></app-scroll-top>
</aside>
<main>
  <app-gallery></app-gallery>
  <div *ngFor="let repo of repos">
    <h3>Repository: {{ repo.name }}</h3>
    <p>{{ repo.private }}</p>
    <p>{{ repo.description }}</p>
    <div>
      <p *ngFor="let data of repo.topics">{{ data }}</p>
    </div>

    <img src="{{ repo.owner.avatar_url }}" alt="" />
  </div>
</main>
<footer>
  <div class="footer-container">
    <div class="footer-column">
      <div class="footer-logo">
        <img src="../assets/logo.svg" />
      </div>
      <div class="footer-social">
        <a
          href="https://www.linkedin.com/in/stefan-g-2329481b8/"
          target="blank"
          class="footer-social-linkedin"
        >
          <i class="icon-linkedin"></i>
        </a>
        <a
          href="https://github.com/Semias"
          target="blank"
          class="footer-social-github"
        >
          <i class="icon-github"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
