<div class="gallery-container">
  <div class="gallery-column">
    @for (album of albums; track album) {
    <div
      tabindex="0"
      #galleryProject
      class="gallery-project"
      (click)="openModal(galleryProject)"
      (keydown.enter)="openModal(galleryProject)"
    >
      <div class="gallery-project-thumbnail">
        <div class="gallery-project-thumbnail-image">
          <img src="{{ album.thumbnailSrc }}" alt="{{ album.thumbnailAlt }}" />
        </div>
        <div class="gallery-thumbnail-description">
          <h2>{{ album.thumbnailDescription }}</h2>
        </div>
      </div>
      <div class="gallery-project-swiper">
        <div
          class="swiper-close"
          role="button"
          aria-label="Close Modal"
          tabindex="0"
          #closeSwiper
          (click)="closeModal(galleryProject, $event)"
          (keydown.enter)="closeModal(galleryProject, $event)"
        >
          <i class="pi pi-times"></i>
        </div>
        <swiper
          [config]="config"
          (swiper)="onSwiper($event)"
          (slideChange)="onSlideChange()"
        >
          @for (slideImage of album.SliderImages; track slideImage) {
          <ng-template swiperSlide>
            <img src="{{ slideImage.src }}" alt="{{ slideImage.alt }}" />
          </ng-template>
          }
        </swiper>
      </div>
    </div>
    }
  </div>
</div>
