// @import "../../../include-media/include-media";
@import "../../../include-media/breakpoints";
@import "../../../include-media/variables";

// :host {
.gallery-container {
	max-width: 1300px;
	margin: 0 auto;

	@include media-breakpoint-down(xxl) {
		padding: 0 2rem;
	}
	@include media-breakpoint-down(xl) {
		padding: 0 1rem;
	}

	.gallery-column {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 8rem;
		row-gap: 1rem;
		align-items: center;

		@include media-breakpoint-down(xxl) {
			gap: 2rem;
		}

		@include media-breakpoint-down(sm) {
			grid-template-columns: repeat(1, 1fr);
			justify-items: center;
		}

		.gallery-project {
			width: 100%;
			height: 600px;

			@include media-breakpoint-down(xl) {
				height: auto;
			}

			&.active {
				.gallery-project-swiper {
					opacity: 1;
					pointer-events: all;
					z-index: 999;
				}
			}

			&:nth-child(3n) {
				height: 400px;

				@include media-breakpoint-down(xl) {
					height: auto;
				}
			}
			&:nth-child(5n + 2) {
				height: 400px;

				@include media-breakpoint-down(xl) {
					height: auto;
				}
			}

			.gallery-project-thumbnail {
				position: relative;
				overflow: hidden;
				height: 100%;
				border-radius: 10px;
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				cursor: pointer;

				@include media-breakpoint-down(xl) {
					height: auto;
				}

				&:hover {
					box-shadow: var(--shadow1);

					.gallery-thumbnail-description {
						transform: translateY(0);
					}
				}

				.gallery-project-thumbnail-image {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}

				.gallery-thumbnail-description {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--cibg-transparency08);
					display: flex;
					justify-content: center;
					align-items: center;
					transform: translateY(100%);
					transition: 0.5s;
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;

					@include media-breakpoint-down(xl) {
						position: relative;
						left: unset;
						bottom: unset;
						transform: unset;
						padding: 2rem 0.5rem;
						background-color: var(--cibg2);
					}

					@include media-breakpoint-down(xl) {
						padding: 1rem 0.5rem;
					}

					h2 {
						text-transform: uppercase;
						font-weight: 400;

						@include media-breakpoint-down(xl) {
							font-size: 1.3rem;
						}

						@include media-breakpoint-down(md) {
							font-size: 1.1rem;
						}
					}
				}
			}

			.gallery-project-swiper {
				display: flex;
				position: fixed;
				opacity: 0;
				pointer-events: none;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				background-color: var(--cibg-transparency09);
				padding: 5rem 1rem;
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;

				@include media-breakpoint-down(lg) {
					background-color: var(--cibg);
					padding: 2rem 1rem 1rem;
				}
				@include media-breakpoint-down(md) {
					padding: 4.5rem 1rem 1rem;
				}

				.swiper-close {
					position: fixed;
					right: 30px;
					top: 30px;
					z-index: 9999;
					cursor: pointer;
					border: 2px solid var(--cibg-contrast);
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.5rem;
					border-radius: 5px;

					@include media-breakpoint-down(md) {
						right: 50%;
						transform: translateX(50%);
						top: 15px;
					}
				}
				.swiper {
					display: flex;
					align-items: center;

					@include media-breakpoint-down(md) {
						height: 100%;
					}

					.swiper-button-prev,
					.swiper-button-next {
						color: var(--text);
					}

					.swiper-pagination {
						bottom: 1rem;

						@include media-breakpoint-down(xl) {
							display: none;
						}

						.swiper-pagination-bullet {
							width: 30px;
							height: 5px;
							background: white;
							border-radius: 3px;
						}
					}
					.swiper-wrapper {
						.swiper-slide {
							display: flex;
							justify-content: center;
							align-items: center;
							overflow: hidden;

							img {
								width: auto;
								height: 100%;
								object-fit: cover;
								object-position: center;

								@include media-breakpoint-down(xl) {
									max-height: 530px;
								}
								@include media-breakpoint-down(lg) {
									max-height: 450px;
								}
								@include media-breakpoint-down(md) {
									max-height: 400px;
								}
								@include media-breakpoint-down(sm) {
									max-height: 300px;
								}
							}
						}
					}
				}
			}
		}
	}
}
