// @import "../../../include-media/include-media";
@import "include-media/breakpoints";
@import "include-media/variables";

// :host {
.gallery-container {
  max-width: 1300px;
  margin: 0 auto;

  @include media-breakpoint-down(xxl) {
    padding: 0 2rem;
  }
  @include media-breakpoint-down(xl) {
    padding: 0 1rem;
  }

  .gallery-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    row-gap: 1rem;
    align-items: center;

    @include media-breakpoint-down(xxl) {
      gap: 2rem;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }

    .gallery-project {
      width: 100%;
      height: 600px;

      @include media-breakpoint-down(xl) {
        height: auto;
      }

      &.active {
        .gallery-project-swiper {
          opacity: 1;
          pointer-events: all;
          z-index: 999;
        }
      }

      &:nth-child(3n) {
        height: 400px;

        @include media-breakpoint-down(xl) {
          height: auto;
        }
      }
      &:nth-child(5n + 2) {
        height: 400px;

        @include media-breakpoint-down(xl) {
          height: auto;
        }
      }

      .gallery-project-thumbnail {
        position: relative;
        overflow: hidden;
        height: 100%;
        border-radius: 10px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;

        @include media-breakpoint-down(xl) {
          height: auto;
        }

        &:hover {
          box-shadow: var(--shadow1);

          .gallery-thumbnail-description {
            transform: translateY(0);
          }
        }

        .gallery-project-thumbnail-image {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .gallery-thumbnail-description {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--cibg-transparency08);
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(100%);
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          transition: 0.5s;

          @include media-breakpoint-down(xl) {
            position: relative;
            left: unset;
            bottom: unset;
            transform: unset;
            padding: 2rem 0.5rem;
            background-color: var(--cibg2);
          }

          @include media-breakpoint-down(xl) {
            padding: 1rem 0.5rem;
          }

          h2 {
            text-transform: uppercase;
            font-weight: 400;

            @include media-breakpoint-down(xl) {
              font-size: 1.3rem;
            }

            @include media-breakpoint-down(md) {
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    p-dialog {
      .p-dialog-mask {
        background-color: var(--cibg-transparency09) !important;

        .p-dialog {
          border-radius: 15px;
          overflow: hidden;
          box-shadow: none;

          &.p-dialog-maximized {
            border-radius: 0;
          }

          .p-dialog-header {
            // position: absolute;
            // background-color: rgba(255, 255, 255, 0.1);
            width: 100%;
            padding-right: 1rem;
            z-index: 2;
            box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
            border-radius: 0;
          }
          .p-dialog-content {
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(40px);
            display: flex;
            border-radius: 0;

            .swiper-control {
              position: absolute;
              top: 0;
              height: 100%;
              width: 5%;
              z-index: 2;
              transition: 0.2s;
              color: white;

              &:hover,
              &:focus {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.1);
              }
              &.swiper-prev {
                left: 0;
              }
              &.swiper-next {
                right: 0;
              }
            }

            swiper-container {
              width: 100%;
              height: 100%;

              swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  object-position: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

// .swiper {
//   .swiper-pagination {
//     .swiper-pagination-bullet {
//       &.swiper-pagination-bullet-active {
//         background-color: white;
//       }
//     }
//   }
// }
