<div class="gallery-container">
  <div class="gallery-column">
    @for (album of albums; track album) {
    <div
      tabindex="0"
      #galleryProject
      class="gallery-project"
      (click)="openModal()"
    >
      <div class="gallery-project-thumbnail">
        <div class="gallery-project-thumbnail-image">
          <img src="{{ album.thumbnailSrc }}" alt="{{ album.thumbnailAlt }}" />
        </div>
        <div class="gallery-thumbnail-description">
          <h2>{{ album.thumbnailDescription }}</h2>
        </div>
      </div>
    </div>
    }
    <p-dialog
      [(visible)]="openModalDialog"
      [modal]="true"
      header="Header"
      [style]="{ width: '90vw', height: '90vh' }"
      [draggable]="false"
      [resizable]="false"
    >
      <swiper-container
        #swiper
        (swiperslidechange)="swiperSlideChanged($event)"
        [loop]="true"
        [pagination]="true"
        [zoom]="true"
      >
        @for (album of albums; track $index) { @for (sliderImage of
        album.SliderImages; track $index) {
        <swiper-slide>
          <div class="swiper-zoom-container">
            <img src="{{ sliderImage.src }}" alt="" /></div
        ></swiper-slide>
        } }
      </swiper-container>
      <button (click)="goPrev()">prev</button>
      <button (click)="goNext()">next</button>
    </p-dialog>
  </div>
</div>
