:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 50%;
  transition: 0.2s;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(0.9);
  }

  &.dark-theme {
    .dark-theme-button {
      display: flex;
      background-color: var(--cibg2);
    }
    .light-theme-button {
      display: none;
    }
  }

  &.light-theme {
    .dark-theme-button {
      display: none;
    }
    .light-theme-button {
      display: flex;
      background-color: var(--cibg2);
    }
  }

  button {
    padding: 1rem;
    border-radius: 50%;
    box-shadow: var(--shadow1);
    cursor: pointer;
  }
}
