/* You can add global styles to this file, and also import other style files */

@import "swiper/css/bundle";
@import "variables.scss";

$primary-bg: #303030;
$primary-bg-contrast: white;

:root {
  --ciprime: #42b883;

  --text-dark: #000;
  --cibg-dark: #303030;

  --text-light: #ffffff;
  --cibg-light: #fff;
}

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border-radius: none;
  -webkit-border-radius: 0;
}

html,
body {
  height: 3000px;
  font-family: "work sans";
  background-color: var(--cibg);
  color: var(--text);

  // &.light-theme {
  //   background-color: $primary-bg-contrast;
  //   color: $primary-bg;

  //   &::-webkit-scrollbar-track {
  //     background: white;
  //   }

  //   &::-webkit-scrollbar-thumb {
  //     background-color: $primary-bg;
  //   }
  // }

  &[color-scheme="dark"] {
    --text: var(--text-light);
    --cibg: var(--cibg-dark);
  }

  &[color-scheme="light"] {
    --text: var(--text-dark);
    --cibg: var(--cibg-light);
  }

  /* Scroll bar */

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: $primary-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}
