@import "assets/fonts/fonts.css";

//PrimeNG
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --ciprime: #f55050;

  --text-dark: #000;
  --cibg-dark: #303030;
  --cibg2-dark: #404040;
  --cibg3-dark: #505050;

  --text-light: #ffffff;
  --cibg-light: #fff;
  --cibg2-light: #f0f0f0;
  --cibg3-light: #e6e6e6;

  --cibg-dark-transparency-08: rgba(48, 48, 48, 0.8);
  --cibg-dark-transparency-09: rgba(48, 48, 48, 0.9);

  --cibg-light-transparency-08: rgba(255, 255, 255, 0.8);
  --cibg-light-transparency-09: rgba(255, 255, 255, 0.9);

  --shadow1: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: none;
}

html,
body {
  font-family: "Work Sans";
  background-color: var(--cibg);
  color: var(--text);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;

  &[color-scheme="dark"] {
    --text: var(--text-light);
    --cibg: var(--cibg-dark);
    --cibg-contrast: var(--cibg-light);
    --cibg2: var(--cibg2-dark);
    --cibg3: var(--cibg3-dark);
    --cibg-transparency08: var(--cibg-dark-transparency-08);
    --cibg-transparency09: var(--cibg-dark-transparency-09);
  }

  &[color-scheme="light"] {
    --text: var(--text-dark);
    --cibg: var(--cibg-light);
    --cibg-contrast: var(--cibg-dark);
    --cibg2: var(--cibg2-light);
    --cibg3: var(--cibg3-light);
    --cibg-transparency08: var(--cibg-light-transparency-08);
    --cibg-transparency09: var(--cibg-light-transparency-09);
  }

  /* Scroll bar */
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: var(--cibg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ciprime);
  }
}
