/* You can add global styles to this file, and also import other style files */
@import "swiper/css/bundle";
@import "variables.scss";

@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(assets/fonts/material-icons/font/MaterialIcons-Regular.ttf); /* For IE6-8 */
	src: local("Material Icons"), local("MaterialIcons-Regular"), url(assets/fonts/material-icons/font/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2"), url(assets/fonts/material-icons/font/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Work Sans";
	src: url("assets/fonts/work-sans/WorkSans-VariableFont_wght.ttf");
	font-weight: 100;
}
@font-face {
	font-family: "Work Sans";
	src: url("assets/fonts/work-sans/WorkSans-VariableFont_wght.ttf");
	font-weight: 200;
}
@font-face {
	font-family: "Work Sans";
	src: url("assets/fonts/work-sans/WorkSans-VariableFont_wght.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Work Sans";
	src: url("assets/fonts/work-sans/WorkSans-VariableFont_wght.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Work Sans";
	src: url("assets/fonts/work-sans/WorkSans-VariableFont_wght.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Work Sans";
	src: url("assets/fonts/work-sans/WorkSans-VariableFont_wght.ttf");
	font-weight: 600;
}
@font-face {
	font-family: "Work Sans";
	src: url("assets/fonts/work-sans/WorkSans-VariableFont_wght.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Work Sans";
	src: url("assets/fonts/work-sans/WorkSans-VariableFont_wght.ttf");
	font-weight: 800;
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}

:root {
	--ciprime: #f55050;

	--text-dark: #000;
	--cibg-dark: #303030;
	--cibg2-dark: #404040;
	--cibg3-dark: #505050;

	--text-light: #ffffff;
	--cibg-light: #fff;
	--cibg2-light: #f0f0f0;
	--cibg3-light: #e6e6e6;

	--cibg-dark-transparency-08: rgba(48, 48, 48, 0.8);
	--cibg-dark-transparency-09: rgba(48, 48, 48, 0.9);

	--cibg-light-transparency-08: rgba(255, 255, 255, 0.8);
	--cibg-light-transparency-09: rgba(255, 255, 255, 0.9);

	--shadow1: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
textarea,
button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	border-radius: none;
	-webkit-border-radius: 0;
}

html,
body {
	font-family: "Work Sans";
	background-color: var(--cibg);
	color: var(--text);
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;

	&[color-scheme="dark"] {
		--text: var(--text-light);
		--cibg: var(--cibg-dark);
		--cibg-contrast: var(--cibg-light);
		--cibg2: var(--cibg2-dark);
		--cibg3: var(--cibg3-dark);
		--cibg-transparency08: var(--cibg-dark-transparency-08);
		--cibg-transparency09: var(--cibg-dark-transparency-09);
	}

	&[color-scheme="light"] {
		--text: var(--text-dark);
		--cibg: var(--cibg-light);
		--cibg-contrast: var(--cibg-dark);
		--cibg2: var(--cibg2-light);
		--cibg3: var(--cibg3-dark);
		--cibg-transparency08: var(--cibg-light-transparency-08);
		--cibg-transparency09: var(--cibg-light-transparency-09);
	}

	/* Scroll bar */
	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-track {
		background: var(--cibg);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--ciprime);
	}
}
